.DS_Store
*.sw*
local.properties
build.xml
gen/
bin/
libs/armeabi
obj/
.settings/
.gradle/
*.xmi
.project
.classpath
build/
out/

# This contains secrets and should not be checked in!
AMSecrets.java

# IntelliJ Idea/Android Studio files
*.iml
*.ipr
*.iws
.idea/
