<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.liberty.android.fantastischmemo"
    android:installLocation="auto"
    android:versionCode="181"
    android:versionName="@string/app_version">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <supports-screens android:anyDensity="true"/>

    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name"
        android:name="AMApplication" >
        <activity 
            android:name=".ui.AnyMemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_full_name" >
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".downloader.DownloaderAnyMemo"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.DownloaderFE"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.DownloaderSS"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name="com.example.android.apis.graphics.FingerPaint" 
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/PaintStyle" />
        <activity
            android:name=".downloader.FELauncher"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.FEUpload"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.FEDirectory"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.QuizletLauncher"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.DownloaderQuizlet"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.dropbox.DropboxDBListActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.google.SpreadsheetListScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.google.UploadGoogleDriveScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.dropbox.UploadDropboxScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.CardEditor"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.DetailScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.SettingsScreen"
            android:configChanges="orientation|keyboardHidden" />        
        <activity
            android:name=".ui.ListEditScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.FileBrowserActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.OptionScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.AlgorithmCustomizationScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.DatabaseMerger"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.StatisticsScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.StudyActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.PreviewEditActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".ui.QuizActivity"
            android:configChanges="orientation|keyboardHidden" />
        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
        <receiver
            android:name=".SetAlarmReceiver" >
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AnyMemoWidgetProvider" >
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_info" />
        </receiver>
        <activity
            android:name=".ui.ShareScreen" >
            <intent-filter>
                    <action android:name="android.intent.action.SEND" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".downloader.FEOauth">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="anymemo-fe"/>
            </intent-filter>
        </activity>
        <service
            android:name=".AnyMemoService" />

        <provider
                android:name=".provider.CardProvider"
                android:authorities="org.liberty.android.fantastischmemo.provider"
                android:multiprocess="true" />

    </application>

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="11" />

</manifest> 
