<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.liberty.android.fantastischmemo"
    android:installLocation="auto"
    android:versionCode="63"
    android:versionName="5.2.1">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name"
    	android:debuggable="true">
        <activity 
            android:name=".AnyMemo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".OpenScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".FileBrowser"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".MemoScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".OptionScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".SettingsScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".DetailScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".EditScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".Downloader" 
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".ListEditScreen"
            android:configChanges="orientation|keyboardHidden" />

    </application>

<uses-sdk android:minSdkVersion="4" />


</manifest> 
