<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.liberty.android.fantastischmemo"
    android:installLocation="auto"
    android:versionCode="135"
    android:versionName="@string/app_version">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name" >
        <activity 
            android:name=".MainTabs"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_full_name" >
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".OpenScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".FileBrowser"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".OptionScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".SettingsScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".DetailScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".Downloader" 
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".cardscreen.MemoScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".cardscreen.CramMemoScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".cardscreen.Filter"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".cardscreen.ListEditScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".cardscreen.CardEditor"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".cardscreen.EditScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity 
            android:name=".cardscreen.DatabaseMerger"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.DownloaderAnyMemo"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.DownloaderFE"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.DownloaderSS"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name="com.example.android.apis.graphics.FingerPaint" 
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/PaintStyle" />
        <activity
            android:name=".downloader.FELauncher"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.FEUpload"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.FEDirectory"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.QuizletLauncher"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.DownloaderQuizlet"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".EditScreenTab"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".OpenScreenTab"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".DownloaderTab"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".RecentList"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".MiscTab"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".converter.ConvertScreen"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.DropboxLauncher"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.DownloaderDropbox"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".downloader.DropboxUploader"
            android:configChanges="orientation|keyboardHidden" />
        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
        <receiver
            android:name=".SetAlarmReceiver" >
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AnyMemoWidgetProvider" >
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_info" />
        </receiver>
        <activity
            android:name=".ShareScreen" >
            <intent-filter>
                    <action android:name="android.intent.action.SEND" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".downloader.FEOauth">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="anymemo-fe"/>
            </intent-filter>
        </activity>
        <service
            android:name=".AnyMemoService" />

    </application>

    <uses-sdk android:minSdkVersion="4" />


</manifest> 
